html{color: #cad3d6; min-height: 100%; background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) ); background-color: #123;}
body {position: relative; font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif; }
a {color: #0df; text-decoration: none; padding-bottom: 1px; }
a:hover {color: #5ef; padding-bottom: 0; border-bottom: 1px solid #468; }
a:visited {/*color: #6ac;*/color:#5ef; }
input:focus, a:focus, button:focus {box-shadow: 0 0 3px #cb0; -webkit-box-shadow: 0 0 3px #cb0; -moz-box-shadow: 0 0 3px #cb0; }
h1, h2, h3, h4, h5, h6 {font-family: "Microsoft Yahei", sans-serif; margin: 0; padding: 0.15em 0; }
h1 {font-size: 1.7em; padding-bottom: 0.1em; color: #f37; margin-bottom: 0.5em; margin-top: 0; }
h2 {font-size: 1.52em; /*border-bottom: 1px solid #29362E;*/ /*border-bottom: 1px solid rgba(255,230,0,0.1);*/ color: #fd5; margin-top: 1em; }
h3 {font-size: 1.22em; color: #df5; width: 80%; /*border-bottom: 1px dashed #29362E;*/ /*border-bottom: 1px dashed  rgba(255,230,0,0.1);*/ margin-top: 0.9em; margin-bottom: 0.4em; }
h4 {font-size: 1.15em; color: #6d9; margin-top: 0.8em; }
h5 {font-size: 1.05em; color: #e3e3f3; } 
h6 {font-size: 1.0em; color: #99CC00; }
/*p, pre, blockquote, table, ul, ol, dl {margin: 0.5em 0 1em; } 
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em; } 
li {margin: 0.3em auto; list-style-position: inside; } 
ol, ul {margin-left: 1em; padding-left: 0.5em; } */
dt {font-weight: bold; } 
img {border: none; } 
code {padding: 2px 4px; color: #00FF00; font-family: 'Lucida Console', 'Courier New', Courier, monospace; }
/* 下面这三段语句负责代码框的特效 */
blockquote, pre ,xmp {padding: 0.8em; /*background: #39213E; background: rgba(255,30,120,0.12); border: 1px solid #614; position: relative;*/ z-index: 2; font-family: 'Lucida Console', 'Courier New', Courier, monospace; -webkit-transition: all 0.45s linear; -moz-transition: all 0.45s linear;color:#66ccff; } 
blockquote ,xmp {background: rgba(255,30,120,0.1); border: 1px solid rgba(230,0,20,0.2);word-wrap: break-word;} 
blockquote:hover, pre:hover ,xmp:hover {color: #eee; background: rgba(255,30,120,0.25);color:orange; } 
pre {/*border-left: 1px solid #c26;*//* 生成代码段前面的竖直红线 */ margin-left: 1em; padding: 0.4em 0.8em; }
table {border-collapse: collapse; }
.syntaxhighlighter table {width: 100%; }
.syntaxhighlighter td.gutter {width: 1em; }
.syntaxhighlighter .gutter .line {padding-right: 0.3em; }
th, td {border: 1px solid #256; padding: 0.3em 0.5em; }
th {background-color: #f0f0f0; }
hr {border: none; border-top: 3px double #035; width: 100%; margin: 20px 0; }
del {text-decoration: line-through; opacity: 0.6; }
strong, b {font-weight: 600; color: #eef; }
em, i {font-family: Candara, "Microsoft Yahei", sans-serif; font-style: italic; }
textarea {background: transparent; color: #fff; resize: none; }
code {
padding: 2px 4px;
color: #00FF00;
font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}
/* 自定义红色标签 */
red {
    padding: 2px 4px;
    color: red;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}
/*w3cfuns导航*/
.w1220{margin:0 auto;width:1220px;}
.bk60 {width: 100%; height: 58px; }
.cl {zoom: 1;}
.cl:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;}
/*头部*/
#fzjchd{top: 0;_top: expression(eval(document.documentElement.scrollTop));left: 0;width: 100%;height: 55px;border: 0 none;background: #333;z-index: 999999999;position: fixed;_position: absolute;}
#fzjchd .w1220 {padding: 0;}
#fzjchd .w1220 #logo {margin-right: 20px;padding: 0 20px 0 0;float: left;overflow: hidden;position: relative;}
/*导航栏*/
.fzjcnav{  float:left;height:55px; line-height:55px; background:#333; }
.fzjcnav a{ height:55px; line-height:55px; color:#ddd; text-decoration:none; padding:0px 10px; display:block; float:left;font-size: 16px;overflow:hidden;}
.fzjcnav a:hover{ text-decoration:none; background:#05a;}
.fzjcnav a.thisclass{text-decoration:none; /*background:#05a;*/}
/*内容区*/
.zsd li{float:left;width:299px;}
/*footer*/
#ft {margin-top: 10px; border: 0 none; overflow: hidden;}
